@import 'normolize'
// @import 'fonts'
@import 'elements'

.logo
    position: absolute
    top: -10%
    left: 0
    width: 100%
    height: 100%
    object-fit: contain
    object-position: center center
    z-index: -11

.main
    background-repeat: no-repeat
    background-position: center top
    background-image: url('../img/main.jpg')
    background-size: cover
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    justify-content: space-between
    position: relative
    z-index: 1
    min-height: 100vh
    padding: 3vw 0 2vw

    .bottom 
        width: 100%

    nav
        width: 90%
        a
            font-size: 18px
            padding: 13px 20px

    .contract
        margin-bottom: 20px

    .soc
        gap: 20px
        justify-content: center
        a
            max-width: 31%
            display: block
            padding: 20px
            border-radius: 20px
            &:hover
                background-color: rgba(255, 255, 255, 0.05)

        img
            display: block
            max-width: 55px

    @media screen and ( max-width: 1000px )
        nav
            flex-direction: column
            margin-bottom: 5px
            a
                font-size: 15px
                padding: 10px 15px


.partners
    padding: 5vw 10vw 0
    img
        display: block
        max-width: 19%
        max-height: 40px

    @media screen and ( max-width: 1000px )
        padding: 15vw 3vw 0
        gap: 20px 0
        flex-wrap: wrap
        justify-content: space-evenly
        img
            max-width: 42%

.krak
    position: relative
    z-index: 1
    min-height: 100vh
    // min-height: 56.25vw
    flex-direction: column
    justify-content: center
    overflow: hidden
    .logo
        top: 0
        opacity: .3

    @media screen and ( max-width: 1000px )
        .logo
            width: 200%
            max-width: unset
            left: 50%
            transform: translateX(-50%)

    &-paw
        position: absolute
        max-width: 35%
        z-index: 1
        max-height: 45%

    .headline
        width: 500px
        max-width: 80%

    .about
        width: 900px
        max-width: 95%

    .lt
        top: 0
        left: -5%

    .lb
        left: -5%
        bottom: 0

    .rt
        top: 0
        right: -5%

    .rb
        bottom: -5%
        right: -5%

.bg 
    background-repeat: no-repeat
    background-position: center top 
    background-repeat: no-repeat
    background-size: cover
    background-image: url('../img/footer-s.jpg')

.tk
    flex-direction: column
    justify-content: center
    position: relative
    top: -4vw
    .head
        width: 400px
        max-width: 70%
        margin-bottom: 5vw

    .cnt
        max-width: 88%

    @media screen and ( max-width: 1000px )
        top: 0

.footer
    position: relative
    z-index: 1
    overflow: hidden
    min-height: 60vh
    background-repeat: no-repeat
    background-size: 100% auto
    background-position: center bottom
    background-image: url('../img/footer-bg.png')
    padding-top: 10vw
    align-items: flex-end
    padding: 10vw 5vw 2vw
    &-img
        max-width: 20vw
        max-height: 100px
        @media screen and ( min-width: 1000px )
            &.dis
                max-width: 30vw
                max-height: unset
                position: absolute
                left: 50%
                transform: translateX(-50%)

    @media screen and ( max-width: 1000px )
        padding: 10vw 2vw 3vw
        background-size: 1800px auto
        flex-direction: column
        justify-content: flex-end
        align-items: center
        gap: 30px
        &-img
            max-width: 60%
            max-height: 100px
            &.dis
                max-width: 90%

